
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: #8D9D90;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
justify-content: center;
align-items: center;

}
.win {
    background: #00e676 !important;  /* green glow */
    color: #000;
    box-shadow: 0 0 20px #00e676, 0 0 40px #00e676;
    transform: scale(1.1);
}

.game{

height: 60vmin;
width: 60vmin;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1.5rem ;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color: #BBDB9B;
    background-color: #ffffc7;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #191913;
    color: white;
    border: none;
}

#new-btn{
      padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #191913;
    color: white;
    border: none;

}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}
.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide{
    display: none;
}